/*
======================================
Proyecto : Himnario Cristiano Offline
Archivo  : layout.css
Versión  : v0.1.0
Build    : 013
Autor    : Carlos & ChatGPT
======================================
*/

body{

    background:var(--background);

    font-family:var(--font-family);

    color:var(--text);

}

#app{

    width:100%;

    min-height:100vh;

}

.home-page{

    display:flex;

    flex-direction:column;

    min-height:100vh;

}
